img {
  max-width: 100%;
}
h1,
p {
  margin: 0;
}
.container {
  max-width: 747px;
  margin: 0 auto;
  padding: 10px;
}
.loader,
.error {
  display: none;
}
.breed-select {
  text-align: center;
  display: block;
  margin: 0 auto 10px;
}
